---
import "../../styles/process.scss";
---

<section class="process">
  <div class="container">
    <div class="heading">
      <h2>OUR PROCESS</h2>
      <div class="line"></div>
    </div>

    <div class="grid"></div>
  </div>
</section>
