---
import Card from "./Card.astro";
---

<section class="contact">
  <div class="container">
    <Card>
      <form
        class="form"
        name="Contact Form"
        id="form"
        method="POST"
        enctype="multipart/form-data"
        data-netlify="true"
      >
        <div class="form-group">
          <label for="name">Name (required)</label>
          <input type="text" id="name" name="name" placeholder="Enter Name" />
        </div>
        <div class="form-group">
          <label for="email">Email (required)</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            name="subject"
            placeholder="Enter Subject"
          />
        </div>
        <div class="form-group">
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Write a message"></textarea>
        </div>

        <button class="btn btn-primary btn-block" id="formBtn" type="submit"
          >Submit</button
        >
      </form>
    </Card>
  </div>
</section>
