@import "variables";

.card {
  background: #fff;
  padding: 20px 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;

  h2 {
    font-size: 2.5rem;
    text-align: left;
    margin: 2rem 0;
  }

  p {
    max-width: 800px;
    margin: 2rem auto 0;
  }
  .go-back {
    display: block;
  }

  .project-image {
    @include flex-center();
    max-width: 800px;
    margin: 2rem auto 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid $primary;
    max-width: 800px;
    margin: 2rem auto;

    .mobile {
      display: none;
    }

    li {
      border: 1px solid $primary;
      padding: 0.5rem;
      font-weight: 500;

      a {
        text-decoration: underline;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .card {
    h2 {
      font-size: 2rem;
      margin: 1rem 0 0;
    }
    p {
      margin: 1rem 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .card {
    padding: 1rem;
    .grid {
      grid-template-columns: 1fr;
      .mobile {
        display: block;
      }

      .desktop {
        display: none;
      }
    }
  }
}
