@import "variables";

.contact-hero {
  .hero {
    height: 40vh;
    .overlay-light {
      position: absolute;
      inset: 0;
      background-color: rgba(68, 68, 68, 0.2);
      z-index: 0;
    }
    h1 {
      font-size: 3rem;
    }
  }
}

.column {
  padding-top: 2rem;
  background: #faf8f8;

  .container {
    @include flex-evenly;
    gap: 2rem;

    &.careers {
      @include flex-center;
      // flex-direction: column;

      .text {
        width: 100%;

        .text-group {
          h3 {
            text-align: center;
            margin-bottom: 2rem;
          }
          p {
            max-width: 800px;
            margin: 1rem auto;
          }
        }
      }
    }

    .text {
      // align-self: flex-start;

      .phone {
        display: flex;
        align-items: center;
        justify-content: left;

        h3,
        h4 {
          color: $primary;
          font-size: 1.5rem;
        }
        h3 {
          text-align: left;
          font-size: 2rem;
          margin-left: 1rem;
        }
      }
      .text-group {
        margin: 2rem 0;

        &.email {
          a {
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 20px;
            color: #222;
          }
        }

        h3 {
          text-align: left;
          font-size: 2rem;
          color: $primary;
        }
      }
    }

    .contact {
      .container {
        padding: 0;

        .card {
          width: 500px;
          margin-top: 0;
          box-shadow: none;
          border: 2px solid $primary;

          .form {
            padding: 1rem;
            .form-group {
              display: flex;
              flex-direction: column;

              .hidden {
                display: none;
              }

              label {
                padding-left: 5px;
              }
              input,
              textarea {
                padding: 0.6rem 1rem;
                margin: 0 0 1rem;
                border: 1px solid $primary;
                border-radius: 5px;
                font-family: inherit;
              }

              textarea {
                margin-top: 0.8rem;
              }
              .btn-resume {
                border: none;
                padding: 0.6rem 0 0.2rem 0;
                margin-bottom: 0;
              }

              &.error,
              .error {
                color: red;
                font-size: 1.2rem;
              }
            }
            .btn {
              width: 100%;

              &#formBtn {
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .column {
    .container {
      .text {
        .text-group {
          h3 {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .column {
    .container {
      flex-direction: column;
      // .text {
      //   .text-group {
      //     h3 {
      //       font-size: 1.8rem;
      //     }
      //   }
      // }
    }
  }
}
@media screen and (max-width: 887px) {
  .column {
    .container {
      // flex-direction: column;

      // .text {
      //   @include flex-evenly;
      //   width: 100%;

      //   .text-group {
      //     height: 132px;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 623px) {
  .column {
    .container {
      .text {
        .text-group {
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .column {
    .container {
      gap: 1rem;
      .text {
        flex-direction: column;

        .text-group {
          margin: 0;
        }
      }
      .contact {
        .container {
          .card {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .contact-hero {
    .hero {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
  .column {
    overflow-x: hidden;
    .container {
      padding: 1rem;
      .contact {
        .container {
          .card {
            max-width: 300px;
            padding: 20px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .column {
    .container {
      .text {
        .phone {
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
