@import "variables";
.footer {
  background-color: $secondary;
  margin-top: auto;
  .container {
    @include flex-between;
    padding: 2rem 1rem 0 2rem;
    margin: auto auto 0;

    .right {
      .logo {
        max-width: 130px;
        max-height: 130px;
      }
    }

    .left {
      .phone {
        display: flex;
        align-items: center;
        justify-content: left;
        h3 {
          text-align: left;
          margin-left: 1rem;
        }
      }

      .address {
        @include flex-center;
        gap: 25px;

        .text-group {
          margin: 0.5rem 0;
          h3,
          p {
            font-size: 1rem;
            text-align: left;
          }
        }
      }
      .socials {
        @include flex-between;
        margin-top: 1rem;
        a {
          transition: opacity ease-in-out 0.2s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .footer {
    .container {
      flex-direction: column-reverse;
      .left {
        flex-direction: column;
        gap: 25px;
        margin: 2rem 0;
        .socials {
          margin-bottom: 1rem;
        }
      }
      // .right {
      //   margin-bottom: 2rem;
      // }
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    .container {
      .left {
        .address {
          flex-direction: column;
        }
      }
    }
  }
}
