@import "variables";

.safety {
  .hero {
    .container {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

.safety-text {
  p {
    margin: 1.5rem;
  }
  p:nth-child(1) {
    margin-top: 3rem;
  }

  .grid {
    @include grid-4;
    gap: 2rem 1rem;
    margin: 3rem 0;

    .certificate {
      @include flex-center;
      flex-direction: column;

      div {
        @include flex-center;
        min-height: 100px;
        margin-bottom: 1rem;

        img {
          max-width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .safety-text {
    .grid {
      @include grid-3;
    }
  }
}
@media screen and (max-width: 700px) {
  .safety-text {
    .grid {
      @include grid-2;
    }
  }
}
@media screen and (max-width: 468px) {
  .safety-text {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
