---
import "../../styles/trustedClients.scss";
---

<section class="clients">
  <div class="container">
    <div class="heading">
      <h2>TRUSTED CLIENTS</h2>
      <div class="line"></div>
    </div>

    <div>
      <ul class="row">
        <li class="client">
          <img src="/assets/clients/webp/cana.webp" alt="Cana Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/graham.webp" alt="Graham Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/ledcor.webp" alt="Ledcor Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/remington.webp" alt="Remington Logo" />
        </li>

        <li class="client">
          <img src="/assets/clients/webp/clark.webp" alt="Clark Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/elan.webp" alt="Elan Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/hopewell.webp" alt="Hopewell Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/webp/scott.webp" alt="Scott Logo" />
        </li>
      </ul>
    </div>
  </div>
</section>
