@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Montserrat:wght@300;400;500;600&display=swap");

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin grid-4() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@mixin grid-3() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@mixin grid-2() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

$primary: #677698;
$primary-opacity: rgba(103, 118, 152, 0.8);
$secondary: #d2def7;
$gray: #dedbdb;
$primary-font: "Montserrat", Arial, Helvetica, sans-serif;
$secondary-font: "Anaheim", Arial, Helvetica, sans-serif;
