@import "variables";

.contact-hero {
  .hero {
    height: 40vh;
    .overlay-light {
      position: absolute;
      inset: 0;
      background-color: rgba(68, 68, 68, 0.2);
      z-index: 0;
    }
    h1 {
      font-size: 3rem;
    }
  }
}

.column {
  padding-top: 2rem;
  background: #faf8f8;
  .container {
    @include flex-evenly;
    gap: 2rem;

    .text {
      align-self: flex-start;
      .text-group {
        margin: 2rem 0;
        h3 {
          text-align: left;
          font-size: 2rem;
          color: $primary;
        }

        a {
          color: blue;
        }
      }
    }

    .contact {
      .container {
        padding: 0;

        .card {
          width: 500px;
          margin-top: 0;
          box-shadow: none;
          border: 2px solid $primary;

          .form {
            padding: 1rem;
            .form-group {
              display: flex;
              flex-direction: column;

              label {
                padding-left: 5px;
              }
              input,
              textarea {
                padding: 0.6rem 1rem;
                margin: 0 0 1rem;
                border: 1px solid #333;
                border-radius: 5px;
                font-family: inherit;
              }

              textarea {
                margin-top: 0.8rem;
              }
            }
            .btn {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 887px) {
  .column {
    .container {
      flex-direction: column;

      .text {
        @include flex-evenly;
        width: 100%;

        .text-group {
          height: 132px;
        }
      }
    }
  }
}

@media screen and (max-width: 623px) {
  .column {
    .container {
      .text {
        .text-group {
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .column {
    .container {
      gap: 0;
      .text {
        flex-direction: column;

        .text-group {
          margin: 0;
        }
      }
      .contact {
        .container {
          .card {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .column {
    overflow-x: hidden;
    .container {
      padding: 1rem 0;
      .contact {
        .container {
          .card {
            max-width: 300px;
            padding: 20px 10px;
          }
        }
      }
    }
  }
}
