@import "variables";

.contact-home {
  background-color: $secondary;
  padding: 3rem 0;
  .container {
    a {
      @include flex-center;
      flex-direction: column;
      width: 100%;
      button {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .contact-home {
    .container {
      a {
        button {
          width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .contact-home {
    .container {
      a {
        button {
          width: 100%;
        }
      }
    }
  }
}
