@import "variables";
.footer {
  background-color: $secondary;
  .container {
    @include flex-between;
    padding: 25px 0 25px 25px;
    margin: auto auto 0;

    .right {
      .logo {
        max-width: 130px;
        max-height: 130px;
      }
    }

    .copyright {
      // height: 100%;
      margin-top: auto;
      font-size: 1rem;
    }

    .left {
      .text-group {
        margin: 0.5rem 0;
        h3,
        p {
          font-size: 1rem;
          text-align: left;
        }
      }
    }
  }
}
