@import "variables";
.footer {
  .container {
    @include flex-between;
    padding: 25px;
    margin: auto auto 0;

    .right {
      .logo {
        max-width: 150px;
        max-height: 150px;
      }
    }

    .copyright {
      // height: 100%;
      // margin-top: auto;
    }

    .left {
      display: flex;
      gap: 25px;
      h3,
      p {
        font-size: 1rem;
        text-align: left;
      }
    }
  }
}
