@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: #fff;
  line-height: 1.5;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  border-bottom: 4px solid $primary;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 20px;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: $primary;
  color: #fff;
  margin-top: 10px;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    background-color: $primary-opacity;
  }
}

.container {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}
