@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: #fff;
  line-height: 1.5;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 2rem;
  border-bottom: 4px solid $primary;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 20px;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.btn {
  background-color: $primary;
  color: #fff;
  margin-top: 10px;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    background-color: $primary-opacity;
  }
}

.container {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}

.heading {
  @include flex-center();
  flex-direction: column;
  h2 {
    color: $primary;
    font-size: 2rem;
  }
  .line {
    margin: 1rem 0 3rem;
    border-bottom: 2px solid $primary;
    width: 60px;
  }
}

.page-content {
  background-color: #edeaea;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    h2 {
      font-size: 1.5rem;
    }
  }
}
