@import "variables";

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .logo {
    max-width: 206px;
    max-height: 200px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      font-size: 20px;
      text-transform: uppercase;
      margin: 5px 0;

      &.active {
        color: $primary;
      }

      &:hover {
        opacity: 0.5;
        color: $primary;
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .icon {
      margin: 0 5px;

      &.insta {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
