@import "variables";

.featured {
  background-color: $gray;
  text-align: center;
  padding: 3rem 0;

  &.pb0 {
    padding-bottom: 0;
  }

  &.pt0 {
    padding-top: 0;
  }

  .grid {
    @include grid-3;
    .item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      transition: opacity 200ms ease-in-out;

      h3 {
        @include flex-center;
        font-size: 1.5rem;
        min-height: 72px;
        color: $primary;
      }

      img {
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: center;
        border-radius: 5px 5px 0 0;
      }

      .text {
        @include flex-center;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        padding: 1rem;
        text-align: left;
        border-radius: 0 0 5px 5px;
        min-height: 122px;
        max-width: 400px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .btn {
    margin-top: 3rem;
    width: 30%;
  }
}

@media screen and (max-width: 940px) {
  .featured {
    .grid {
      grid-template-columns: repeat(2, 1fr);

      .item {
        width: 100%;
        margin-bottom: 3rem;
        img {
          max-width: unset;
          max-height: 60vh;
        }
      }
    }

    .btn {
      width: 50%;
    }
  }
}

@media screen and (max-width: 650px) {
  .featured {
    .grid {
      grid-template-columns: 1fr;

      .item {
        .text {
          max-width: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .featured {
    .grid {
      .item {
        padding: 1rem 0;
        margin-bottom: 1.5rem;
      }
    }
    .btn {
      width: 100%;
    }
  }
}
