@import "variables";
.process {
  padding: 2rem 0;
  .container {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .step {
        .icon {
          @include flex-center;
          width: 100%;
          img {
            width: 64px;
          }
        }

        h3,
        p {
          max-width: 80%;
          margin: auto;
        }

        h3 {
          padding: 1rem 0;
          text-align: left;
        }
      }
    }
    .services {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      justify-content: center;

      .service-image {
        position: relative;
        @include flex-center;
        h3 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          font-size: 2rem;
          color: #fff;
          z-index: 2;
        }
        .overlay {
          position: absolute;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 1;
        }
        img {
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .process {
    .container {
      .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        .step {
          h3,
          p {
            max-width: 100%;
          }
        }
      }
      .services {
        .service-image {
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .process {
    .container {
      .grid {
        .step {
          h3 {
            height: 80px;
            padding-bottom: 0;
          }
        }
      }
      .services {
        @include flex-center;
        flex-direction: column;
        .service-image {
          h3 {
            font-size: 1.5rem;
          }

          img {
            max-width: 500px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .process {
    .container {
      .grid {
        grid-template-columns: 1fr;

        .step {
          h3 {
            height: unset;
            padding-bottom: 1rem;
          }
        }
      }

      .services {
        .service-image {
          img {
            max-width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .process {
    padding: 2rem 0;

    .container {
      .services {
        .service-image {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
