@import "variables";

.clients {
  padding: 2rem;
  .container {
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // gap: 1rem;
      row-gap: 3rem;

      .client {
        @include flex-center;
        img {
          height: 80px;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .clients {
    .container {
      .row {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .clients {
    .container {
      .row {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 523px) {
  .clients {
    .container {
      .row {
        grid-template-columns: repeat(1, 1fr);
        // row-gap: 1rem;
      }
    }
  }
}
