---
import "../../styles/mgmt.scss";

import { management } from "../../content/team/management";
---

<section class="management">
  <div class="container">
    <div class="heading">
      <h2>OUR TALENTED MANAGEMENT TEAM</h2>
      <div class="line"></div>
    </div>
    <div class="grid">
      {
        management.map((member) => (
          <div class="person">
            <img src={member.image} alt="" role="presentation" />
            <h3>{member.name}</h3>
            <p>{member.position}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
