---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About Us"
	description="About us - Learn about the history of our company, and about our wonderful staff"
>
	<body>
		<Header />
	</body>
</Layout>
