---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import ContactForm from "../components/ContactForm.astro";

import "../styles/contact.scss";

const image = "/assets/hero/webp/careers.webp";
---

<Layout title="Contact Us">
  <div class="contact-hero">
    <Hero title="Join Our Team" image={image} overlayLight={true} />
  </div>
  <div class="column">
    <div class="container careers">
      <section class="text">
        <div class="text-group">
          <h3>Interested in working with Perma-Cast?</h3>
          <p>
            At Perma-Cast, we don’t just build structures, but also careers. Our
            company is a leader in the concrete construction industry, providing
            quality and excellence for residential, commercial, and public
            projects. With a strong reputation for innovation, quality, and
            safety, we’re always on the lookout for talented individuals who are
            as passionate about building the future as we are.
          </p>
          <p>
            At Perma-Cast, we believe in establishing strong foundations, not
            just in construction but also in our relationships with employees.
            Our culture is one of collaboration, integrity, dedication, and
            growth.
          </p>
          <p>
            Whether you are a Journeyman Carpenter, Concrete Finisher, Forman,
            Cane Operator, or Labourer, we are always looking for hardworking
            individuals to join our team.
          </p>

          <p>
            Submit your resume below and join the best conrete construction
            company in Alberta!
          </p>
        </div>
      </section>

      <ContactForm fileUpload={true} />
    </div>
  </div>
</Layout>
