---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import ContactForm from "../components/ContactForm.astro";

import "../styles/contact.scss";

const image = "/assets/hero/webp/contact.webp";
---

<Layout title="Contact Us">
  <div class="contact-hero">
    <Hero title="Contact Us" image={image} overlayLight={true} />
  </div>
  <div class="column">
    <div class="container">
      <section class="text">
        <a href="tel:+14032759626" class="phone"><h3>(403) 275-9626</h3></a>
        <div class="text-group">
          <h3>OFFICE</h3>
          <p>114 Panatella Circle NW,</p>
          <p>Calgary, AB, T3K5Z7</p>
        </div>
        <div class="text-group">
          <h3>SHOP</h3>
          <p>8 Fulton Gate</p>
          <p>Rocky View County, AB</p>
        </div>
      </section>
      <ContactForm fileUpload={false} />
    </div>
  </div>
</Layout>
