---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import { SITE_TITLE } from "../consts";

import Layout from "../layouts/Layout.astro";
import OurProjects from "../components/OurProjects.astro";
import OurQualities from "../components/home/OurQualities.astro";
import TrustedClients from "../components/home/TrustedClients.astro";
import ContactHome from "../components/home/ContactHome.astro";
---

<Layout>
	<body>
		<Header />
		<main>
			<Hero
				title={SITE_TITLE}
				heroText="For over 25 years, clients have selected Perma-Cast to complete their challenging projects on time, under budget, and with superior quality performance. As a member of the Calgary Construction Association (CAA) and with a Certificate of Recognition (COR), Perma-Cast continues to raise the bar in all disciplines, including commercial and industrial concrete foundations, multi-level parkades, high-rises, and water reservoirs."
				image="/assets/projects/original/QP1revised.png"
				overlay={true}
				button={true}
			/>

			<OurProjects title="OUR PROJECTS" isFeatured={true} />

			<OurQualities />

			<TrustedClients />

			<ContactHome />
		</main>
		<Footer />
	</body>
</Layout>
