---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import { SITE_TITLE } from "../consts";

import Layout from "../layouts/Layout.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import OurQualities from "../components/OurQualities.astro";
import TrustedClients from "../components/TrustedClients.astro";
import ContactHome from "../components/ContactHome.astro";
---

<Layout>
	<body>
		<Header />
		<main>
			<Hero
				title={SITE_TITLE}
				image="/assets/projects/original/QP1revised.png"
				overlay={true}
				button={true}
			/>

			<FeaturedProjects />

			<OurQualities />

			<TrustedClients />

			<ContactHome />
		</main>
		<Footer />
	</body>
</Layout>
