---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/safety.scss";
import * as safetyText from "../content/safety/safety.md";

const { Content } = safetyText;
---

<Layout title="Safety">
  <div class="safety">
    <Hero title="Safety" image="/assets/safety/safety.jpeg" overlay={true} />
  </div>

  <div class="container safety-text">
    <Content />

    <section class="grid">
      <div class="certificate">
        <div>
          <img src="/assets/safety/cor.png" alt="logo for COR" loading="lazy" />
        </div>
        <h3>COR Certified</h3>
      </div>
      <div class="certificate">
        <div>
          <img src="/assets/safety/wcb.png" alt="logo for WCB" loading="lazy" />
        </div>

        <h3>WCB Insured</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/acsa.png"
            alt="logo for Alberta Construction Safety Association"
            loading="lazy"
          />
        </div>
        <h3>Partners In Safety</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/cca.png"
            alt="logo for Calgary Construction Association"
            loading="lazy"
          />
        </div>

        <h3>Calgary Construction Association</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/whimis.png"
            alt="logo for WHIMIS"
            loading="lazy"
          />
        </div>
        <h3>WHIMIS 2018</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/first-aid.jpg"
            alt="First-Aid logo"
            loading="lazy"
          />
        </div>
        <h3>First-Aid & CPR Trained</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/sait.png"
            alt="logo for SAIT"
            loading="lazy"
          />
        </div>
        <h3>Certified Crane Operators</h3>
      </div>
      <div class="certificate">
        <div>
          <img
            src="/assets/safety/fall-arrest.png"
            alt="logo for Fall Arrest Certification"
            loading="lazy"
          />
        </div>
        <h3>Fall Arrest Certified</h3>
      </div>
    </section>
  </div>
</Layout>
