---
import "../styles/contactHome.scss";
---

<section class="contact-home">
  <div class="container">
    <div class="heading">
      <h2>GET IN TOUCH!</h2>
      <div class="line"></div>
    </div>

    <a href="/contact"><button class="btn">CONTACT US</button></a>
  </div>
</section>
