---
import "../styles/footer.scss";
const today = new Date();
---

<footer class="footer">
	&copy; {today.getFullYear()} Perma-Cast Concrete Construction LTD. All rights reserved.
</footer>

<!-- <div class="socials">
	<a
		href="https://www.instagram.com/perma_cast_concrete/"
		target="_blank"
		class="icon insta"
		><img
			src={insta}
			alt="instagram logo"
			loading="eager"
			fetchpriority="high"
			decoding="async"
		/></a
	>
	<a
		href="https://www.facebook.com/people/Perma-Cast/100070288428307/"
		class="icon"
		target="_blank"
		><img
			src={fb}
			alt="facebook logo"
			loading="eager"
			fetchpriority="high"
			decoding="async"
		/></a
	><a
		href="https://www.linkedin.com/company/perma-cast-concrete-contracting-ltd/"
		class="icon"
		target="_blank"
		><img
			src={linkedin}
			alt="linkedin logo"
			loading="eager"
			fetchpriority="high"
			decoding="async"
		/></a
	>
</div> -->
