---
import "../styles/header.scss";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About Us</HeaderLink>
		<HeaderLink href="/services">Services</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/safety">Safety</HeaderLink>
		<HeaderLink href="/careers">Careers</HeaderLink>
		<HeaderLink href="/contact">Contact Us</HeaderLink>
	</nav>
</header>
