---
import "../styles/header.scss";
import HeaderLink from "./HeaderLink.astro";
const logo = "/assets/logo.png";
---

<header class="header">
	<div>
		<a href="/"
			><img
				src={logo}
				alt="A.P initials logo"
				loading="eager"
				fetchpriority="high"
				decoding="async"
			/></a
		>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About Us</HeaderLink>
		<HeaderLink href="/services">Services</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/safety">Safety</HeaderLink>
		<HeaderLink href="/careers">Careers</HeaderLink>
		<HeaderLink href="/contact">Contact Us</HeaderLink>
	</nav>
</header>
