---
import "../styles/hero.scss";

export interface Props {
  title: string;
  subHeading?: string;
  heroText?: string;
  image?: string;
  overlay?: boolean;
  button?: boolean;
}

const {
  title = "Perma-Cast",
  subHeading,
  heroText,
  image,
  overlay,
  button,
} = Astro.props as Props;
---

<section class="hero">
  {overlay && <div class="overlay" />}
  {
    image && (
      <div class="hero-bg">
        <picture>
          <img
            src={image}
            alt="header background image"
            loading="eager"
            role="presentation"
            fetchpriority="high"
            decoding="async"
          />
        </picture>
      </div>
    )
  }
  <div class="container">
    <h1>{title}</h1>
    {subHeading && <h3 class="sub-heading">{subHeading}</h3>}
    {heroText && <p class="hero-text">{heroText}</p>}
    {
      button && (
        <a href="/contact">
          <button class="btn">Request a Quote</button>
        </a>
      )
    }
  </div>
</section>
