---
import "../styles/hero.scss";

export interface Props {
  title?: string;
  image?: string;
  overlay?: boolean;
  button?: boolean;
}

const { title = "Perma-Cast", image, overlay, button } = Astro.props as Props;
---

<section class="hero">
  {overlay && <div class="overlay" />}
  {
    image && (
      <div class="hero-bg">
        <picture>
          <img
            src={image}
            alt="header background image"
            loading="eager"
            role="presentation"
            fetchpriority="high"
            decoding="async"
          />
        </picture>
      </div>
    )
  }
  <div class="container">
    <h1>{title}</h1>
    <p class="hero-text">
      For over 25 years, clients have selected Perma-Cast to complete their
      challenging projects on time, under budget, and with superior quality
      performance. As a member of the Calgary Construction Association (CAA) and
      with a Certificate of Recognition (COR), Perma-Cast continues to raise the
      bar in all disciplines, including commercial and industrial concrete
      foundations, multi-level parkades, high-rises, and water reservoirs.
    </p>
    {
      button && (
        <a href="/contact">
          <button class="btn">Request a Quote</button>
        </a>
      )
    }
  </div>
</section>
