---
import "../styles/qualities.scss";
---

<section class="qualities">
  <div class="container">
    <div class="heading">
      <h2>OUR QUALITIES</h2>
      <div class="line"></div>
    </div>

    <ul class="row">
      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>INSURANCE & BONDING</h3>
      </li>
      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>LEADERS IN QUALITY</h3>
      </li>
      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>EXCEPTIONAL CUSTOMER SERVICE</h3>
      </li>

      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>SEAMLESS PROJECT FOLLOW THROUGH</h3>
      </li>
      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>HIGHEST SAFETY STANDARDS</h3>
      </li>
      <li class="quality-item">
        <img
          src="/assets/icons/insta.png"
          alt=""
          role="presentation"
          class="icon"
        />
        <h3>FAMILY OWNED & OPERATED</h3>
      </li>
    </ul>
  </div>
</section>
