---
import "../styles/trustedClients.scss";
---

<section class="clients">
  <div class="container">
    <div class="heading">
      <h2>OUR TRUSTED CLIENTS</h2>
      <div class="line"></div>
    </div>

    <div>
      <ul class="row">
        <li class="client">
          <img src="/assets/clients/cana.png" alt="Cana Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/graham.png" alt="Graham Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/ledcor.png" alt="Ledcor Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/remington.png" alt="Remington Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/clark.png" alt="Clark Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/elan.png" alt="Elan Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/hopewell.png" alt="Hopewell Logo" />
        </li>
        <li class="client">
          <img src="/assets/clients/scott.png" alt="Scott Logo" />
        </li>
      </ul>
    </div>
  </div>
</section>
