---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import ContactForm from "../components/ContactForm.astro";

import "../styles/contact.scss";

const image = "/assets/hero/webp/contact.webp";
---

<Layout title="Contact Us">
  <div class="contact-hero">
    <Hero title="Contact Us" image={image} overlayLight={true} />
  </div>
  <div class="column">
    <div class="container">
      <section class="text">
        <a href="tel:+14032759626" class="phone"
          ><h4>Phone:</h4><h3>(403) 275-9626</h3></a
        >
        <div class="phone">
          <h4>Fax:</h4><div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div><h3>(403) 275-5581</h3>
        </div>

        <div class="text-group email">
          <h3>Email</h3>
          <a href="mailto:shellymcleod@permacast.ca"
            >shellymcleod@permacast.ca</a
          >
        </div>
        <div class="text-group">
          <h3>MAILING ADDRESS</h3>
          <p>114 Panatella Circle N.W.</p>
          <p>Calgary, AB, T3K 5Z7</p>
        </div>
        <div class="text-group">
          <h3>SHOP</h3>
          <p>8 Fulton Gate</p>
          <p>Rocky View County, AB</p>
        </div>
      </section>
      <ContactForm />
    </div>
  </div>
</Layout>
